.heading {
  color: var(--color-dark-blue);
  /* font-size: 1.5rem; */
  font-weight: 600;
  /* margin-bottom: 2rem; */
  margin: 0px;
}

.faq-container {
  margin: 0 auto;
  padding: 0px 1rem 0px 1rem;
  /* text-align: center; */
  max-width: 1140px;
}

.faq-question {
  font-size: 16px;
  color: var(--color-dark-blue);
  font-weight: 600;
}

form {
  display: flex;
  width: 35rem;
  background-color: #fff;
  align-items: center;
  margin: 0 auto;
  border-radius: 1rem;
}

form svg {
  height: 1rem;
  fill: #9ea6ae;
  position: fixed;
  width: 4rem;
}

.searchbar {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  padding: 1rem;
  padding-left: 4rem;
  width: 100%;
  box-shadow: 0px 5px 13px 0px #dee4f1;
  border-radius: 0.8rem;
}

.searchbar:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px #dee4f1, 0px 5px 13px 0px #dee4f1;
}

.faq {
  margin: 1rem 0;
}

.question-wrapper {
  /* width: 35rem; */
  border-bottom: 1px solid #dee4f1;
  /* margin: 0 auto; */
  padding: 1rem;
  transition: 1s;
}

.question {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #212943;
  display: flex;
  justify-content: space-between;
}

.question svg {
  width: 1rem;
  height: 1.5rem;
  fill: #9ea6ae;
}

.question svg.active {
  transform: rotate(180deg);
}

.question svg:hover {
  opacity: 0.8;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.answer {
  display: none;
}

.answer.active {
  display: block;
  text-align: left;
  padding-top: 0.4rem;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  animation: slidein 0.4s;
  animation-fill-mode: forwards;
}

.faq-icon {
  width: 25px !important;
  height: 25px !important;
  /* border: 1px solid var(--color-white); */
  color: var(--color-white);
  /* background-color: var(--color-light-green); */
  fill: var(--color-light-green) !important;
}

/* .faq-icon-btn {
    width: 100px;
    height: 50px;
} */

@keyframes slidein {
  from {
    opacity: 0.3;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Media Query */

@media screen and (max-width: 1140px) {
  .heading {
    padding-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  .question-wrapper {
    width: 30rem;
  }
}

@media screen and (max-width: 465px) {
  .question-wrapper {
    /* width: 365px; */
    width: 100%;
  }

  .heading {
    font-size: 22px;
  }

  .faq-container {
    /* padding-top: 40px; */
  }
}